*{
font-family:'Poppins', sans-serif;
box-sizing:border-box;
text-align: center !important;
margin: auto !important;
}

h1{
   
    background-color: black;
    font-size: large;
    width: 500px;
    padding: 30px;
    
}

body{
    background-color: black;
    color: white;
    background-position: center;
    display: block;
    padding-left: 35%;
    text-align: center;
    background-size: cover ;
    background-position:center;
    margin-left: -35% !important;
    margin-top: 20% !important;
}



button{
color: white;
    background-color: black;
    border-radius: 6px;
    position: absolute;
    width: 54px;
   font-weight: bold;
    height: 33px;
}
a{   
    color: white ;
    display: block;
    width: 50px;
    height: 30px;
    background-color: black;
    padding: 5px 10px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    margin-left: 45% !important;
    margin-top: 0.2% !important;

}




